<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#소,-돼지-변수-로드-및-전처리" data-toc-modified-id="소,-돼지-변수-로드-및-전처리-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>소, 돼지 변수 로드 및 전처리</a></span></li><li><span><a href="#날씨-변수-로드" data-toc-modified-id="날씨-변수-로드-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>날씨 변수 로드</a></span><ul class="toc-item"><li><span><a href="#날씨-결측치-대체" data-toc-modified-id="날씨-결측치-대체-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>날씨 결측치 대체</a></span></li></ul></li><li><span><a href="#일매출-변수-로드-및-전처리" data-toc-modified-id="일매출-변수-로드-및-전처리-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>일매출 변수 로드 및 전처리</a></span></li><li><span><a href="#휴무-가중치-파생변수-생성" data-toc-modified-id="휴무-가중치-파생변수-생성-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>휴무 가중치 파생변수 생성</a></span></li><li><span><a href="#소,돼지가격-&amp;-날씨-&amp;-매출-변수들-변수-병합" data-toc-modified-id="소,돼지가격-&amp;-날씨-&amp;-매출-변수들-변수-병합-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>소,돼지가격 &amp; 날씨 &amp; 매출 변수들 변수 병합</a></span></li><li><span><a href="#최종-데이터셋-생성" data-toc-modified-id="최종-데이터셋-생성-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>최종 데이터셋 생성</a></span></li><li><span><a href="#예측-모델링" data-toc-modified-id="예측-모델링-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>예측 모델링</a></span></li></ul></div>

In [1]:
# PyCharm에 class화 시킬 때는 다음날 5일치 미래 데이터 추가시킬 때 금일 날짜 customizing 시키기

## 소, 돼지 변수 로드 및 전처리

- beef_pork.py 파일 수정해야 함!

In [2]:
# 추후에 설,휴무 가중치를 실시간으로 부여하기 위한 것
import pandas as pd
present_time = pd.to_datetime('2020-12-31').strftime("%Y-%m-%d")
next_five_time = pd.date_range(start=present_time, freq='D', periods=6)
next_five_time = next_five_time[-1].strftime("%Y-%m-%d")
next_five_time

'2021-01-05'

In [3]:
# 소, 돼지 지역별 가격 데이터 각각 로드
import pymysql
import pandas as pd
db = pymysql.connect(host='localhost', user='younghun',
                    password='watson1259', db='beef_pork_db',
                    charset='utf8')
cursor = db.cursor()
# 소 데이터에서 2011년 3월 3일부터 '중부권'이 등장
beef_sql = "SELECT DISTINCT * FROM beef_prices WHERE 날짜 < '2011-03-03' AND 지역 = '전국'\
            UNION\
            SELECT DISTINCT * FROM beef_prices WHERE 날짜 >= '2011-03-03' AND 지역 = '중부권'\
            ORDER BY 날짜"
pork_sql = "SELECT DISTINCT * FROM pork_prices ORDER BY 날짜"

beef_df = pd.read_sql(beef_sql, db)
pork_df = pd.read_sql(pork_sql, db)

###### 소 변수 전처리 ######
hanwoo_df = beef_df[beef_df['종류'] == '한우']
yukwoo_df = beef_df[beef_df['종류'] == '육우']
# 현재 한우, 육우 둘다 중복된 row들 없음 -> 이제 중간 비어있는 값들은 주말(공휴일)로 이전의 값으로 대체!
hanwoo_df = hanwoo_df.rename(columns={'종류': '한우', '가격': '한우가격'})
yukwoo_df = yukwoo_df.rename(columns={'종류': '육우', '가격': '육우가격'})
 
raw_date_df = pd.DataFrame(pd.date_range(start='2009-01-01', end='2021-03-23', freq='D'))
raw_date_df = raw_date_df.rename(columns={0: '날짜'})
hanwoo_df = raw_date_df.merge(hanwoo_df, how='left')
hanwoo_df = hanwoo_df[['날짜', '한우가격']]
yukwoo_df = raw_date_df.merge(yukwoo_df, how='left')
yukwoo_df = yukwoo_df[['날짜', '육우가격']]
hanwoo_df = hanwoo_df.fillna(method='ffill')
yukwoo_df = yukwoo_df.fillna(method='ffill')
merge_beef_df = hanwoo_df.merge(yukwoo_df, how='inner', on='날짜')

###### 돼지 변수 전처리 ######
cond_tang = pork_df['종류'] == '탕박'
cond_n = pork_df['지역'] == '전국'
pork_df = pork_df[(cond_tang)&(cond_n)]

raw_date_df = pd.DataFrame(pd.date_range(start='2009-01-01', end='2021-03-23', freq='D'))
raw_date_df = raw_date_df.rename(columns={0: '날짜'})

merge_pork_df = raw_date_df.merge(pork_df, how='left')
merge_pork_df = merge_pork_df.fillna(method='ffill')
merge_pork_df = merge_pork_df.rename(columns={'가격': '돼지탕박가격'})
merge_cols = ['날짜', '돼지탕박가격']
merge_pork_df = merge_pork_df[merge_cols]

##### 소 & 돼지 변수 병합 #####
beef_pork_df = merge_beef_df.merge(merge_pork_df, how='inner', on='날짜')

##### 아웃라이어 처리 #####
# 1. 육우가격이 비정상적으로 높을 때
cond0 = beef_pork_df['한우가격'] < beef_pork_df['육우가격']
cond1 = beef_pork_df['육우가격'] > 18000
beef_pork_df.loc[(cond0|cond1), '육우가격'] = beef_pork_df.loc[(cond0|cond1)]['한우가격'] * (10/18)
# 2. 한우가격이 비정상적으로 낮을 때(만원 이하)
cond2 = beef_pork_df['한우가격'] < 1e4
beef_pork_df.loc[cond2, '한우가격'] = beef_pork_df.loc[cond2]['육우가격'] * (18/10)

beef_pork_df.shape

(4465, 4)

In [4]:
beef_pork_df.tail()

             날짜     한우가격     육우가격  돼지탕박가격
4460 2021-03-19  19708.0   9594.0  4182.0
4461 2021-03-20  19708.0   9594.0  4182.0
4462 2021-03-21  19708.0   9594.0  4182.0
4463 2021-03-22  16863.0   8089.0  4448.0
4464 2021-03-23  19905.0  12721.0  4607.0

- 육우가격이 18,000원이 넘을 경우 이상치로 간주하며 한우가격은 육우가격의 약 1.8배이므로
    * 한우가격이 육우가격보다 작을 때 => 한우가격 = 육우가격 * 1.8배 해주는 전처리 추가해주자!

## 날씨 변수 로드

In [5]:
import pymysql
import pandas as pd
db = pymysql.connect(host='localhost', user='younghun',
                    password='watson1259', db='weather_db',
                    charset='utf8')
cursor = db.cursor()

weather_sql = "SELECT 지역, 시간,\
                      NULLIF(평균기온, '') AS 평균기온,\
                      NULLIF(최저기온, '') AS 최저기온,\
                      NULLIF(최고기온, '') AS 최고기온,\
                      NULLIF(1시간최다강수량, '') AS 1시간최다강수량,\
                      NULLIF(일강수량, '') AS 일강수량,\
                      NULLIF(평균풍속, '') AS 평균풍속,\
                      NULLIF(최대풍속, '') AS 최대풍속,\
                      NULLIF(평균상대습도, '') AS 평균상대습도,\
                      NULLIF(최소상대습도, '') AS 최소상대습도,\
                      NULLIF(1시간최다일사량, '') AS 1시간최다일사량,\
                      NULLIF(일사량, '') AS 일사량\
                      FROM weather\
                      ORDER BY 시간"
weather = pd.read_sql(weather_sql, db)
weather = weather.rename(columns={'시간': '날짜'})
print("날씨 데이터 shape:", weather.shape)

날씨 데이터 shape: (4465, 13)

### 날씨 결측치 대체

- 만약 다른 변수에 결측치 발생시 대체 로직 바꾸어주어야 함..! 2009년~2020년 12월31일까지 현재는 로직 원할히 수행
- 날씨는 전날 데이터를 이용해야 하네..

In [6]:
from sklearn.impute import KNNImputer

dataset = weather.copy()
dataset = dataset.drop(['1시간최다강수량'], axis=1)
dataset['일강수량'] = dataset['일강수량'].fillna(0.0)

avg_wind = dataset[['평균풍속', '최대풍속']] # 결측치:평균풍속
avg_humid = dataset[['평균상대습도', '최소상대습도', '최저기온', '일강수량', '평균기온', '최고기온']] # 결측치:평균상대습도
max_sun_h = dataset[['1시간최다일사량', '최고기온', '평균기온', '최저기온', '최소상대습도']] # 결측치:1시간최다일사량
max_sun = dataset[['일사량', '최고기온', '평균기온', '최저기온', '최소상대습도']] # 결측치:일사량

knn_datasets = [avg_wind, avg_humid, max_sun_h, max_sun]
after_datasets = []
for data in knn_datasets:
    imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
    imputer.fit(data.values)
    after_values = imputer.transform(data.values) # array
    after_dataset = pd.DataFrame(after_values, columns=data.columns)
    after_datasets.append(after_dataset)
concat_df = pd.concat([after_datasets[0], after_datasets[1], after_datasets[2], after_datasets[3]], axis=1)
concat_cols = concat_df.columns.tolist()
transform_dict = {}

for i, v in enumerate(concat_df.values.T):
    transform_dict[concat_cols[i]] = v
transform_df = pd.DataFrame(transform_dict)

standard_cols = set(dataset.columns) - set(transform_df.columns)
dataset = pd.concat([dataset[standard_cols], transform_df], axis=1)

weather = dataset.copy()
# 지역 칼럼은 삭제
weather = weather.drop('지역', axis=1)
weather.shape

(4465, 11)

## 일매출 변수 로드 및 전처리

In [7]:
import pymysql
import pandas as pd
import holidays
from datetime import date

present_time = pd.to_datetime('2021-03-23').strftime("%Y-%m-%d")
next_five_time = pd.date_range(start=present_time, freq='D', periods=6)
next_five_time = next_five_time[-1].strftime("%Y-%m-%d")

db = pymysql.connect(host='localhost', user='younghun',
                    password='watson1259', db='sales_db',
                    charset='utf8')
cursor = db.cursor()

sales_sql = "SELECT DISTINCT * FROM sales ORDER BY 날짜"
sales = pd.read_sql(sales_sql, db)

present_time = int(pd.Timestamp.now().strftime("%Y"))
kor_holidays = holidays.Korea(years=[d for d in range(2008, present_time+1)])

holidays_dates = []
holidays_names = []
for date, name in kor_holidays.items():
    holidays_dates.append(date)
    holidays_names.append(name)

holidays_df = pd.DataFrame({'공휴일날짜': holidays_dates,
                            '공휴일명': holidays_names}).sort_values(by='공휴일날짜')
holidays_df['공휴일날짜'] = pd.to_datetime(holidays_df['공휴일날짜'])
extra_datetime = pd.DataFrame(pd.date_range(start='2009-01-01', end=next_five_time, freq='D'),
                             columns=['가중치위한날짜'])
sales = extra_datetime.merge(sales, how='left', left_on='가중치위한날짜', right_on='날짜')
sales = sales.drop('날짜', axis=1)
sales = sales.rename(columns={'가중치위한날짜': '날짜'})
sales_holiday_df = sales.merge(holidays_df, how='left', left_on='날짜', right_on='공휴일날짜')
print("일매출 데이터 shape:", sales_holiday_df.shape)

일매출 데이터 shape: (4470, 5)

## 휴무 가중치 파생변수 생성

- 설, 휴무 데이터가 있기 전에 미리 휴무가중치를 생성하는 로직만들어야 함...

In [8]:
from itertools import chain # for flattening 2d list

hol_cols = ['날짜', '일매출', 'remark', '공휴일날짜', '공휴일명']
holidays_data = sales_holiday_df[hol_cols]
holidays_data['요일'] = holidays_data['날짜'].dt.day_name()
hol_cols = ['날짜', '요일','일매출', 'remark', '공휴일날짜', '공휴일명']
holidays_data = holidays_data[hol_cols]

lunar_chuseok = ["The day preceding of Lunar New Year's Day", "The day preceding of Chuseok"]
lunar_chuseok_dates = holidays_data[holidays_data['공휴일명'].isin(lunar_chuseok)]['날짜'].dt.strftime('%Y-%m-%d').values
lunar_chuseok_around_dates = []
for date in lunar_chuseok_dates:
    around = pd.date_range(end=date, freq='D', periods=6)
    lunar_chuseok_around_dates.append(around)
lunar_chuseok_arounds = list(chain.from_iterable(lunar_chuseok_around_dates))

lunar_chuseok_dict = {}
weight = 0
for around_date in lunar_chuseok_arounds:
    weight += 1
    if weight > 6:
        weight = 1
    lunar_chuseok_dict[around_date] = weight

    
# 추석, 설날 주변 날짜에 가중치 부여하는 함수 정의
def holidays_weights(df):
    df['설_추석_가중치'] = 0
    df['일반공휴일가중치'] = 0
    if df['날짜'] in list(lunar_chuseok_dict.keys()):
        df['설_추석_가중치'] = lunar_chuseok_dict[df['날짜']]
    return df

holidays_data = holidays_data.apply(holidays_weights, axis=1)
holidays_data.loc[(~holidays_data['공휴일명'].str.contains('Lunar|Chuseok', na=False))&(holidays_data['공휴일명'].notnull()), '일반공휴일가중치'] = 1

# 필요한 변수들만 추출하기
need_cols = ['날짜', '요일', '일매출', '설_추석_가중치', '일반공휴일가중치']
holidays_data = holidays_data[need_cols]

## 소,돼지가격 & 날씨 & 매출 변수들 변수 병합

In [9]:
holidays_data.tail(7)

             날짜         요일       일매출  설_추석_가중치  일반공휴일가중치
4463 2021-03-22     Monday  398400.0         0         0
4464 2021-03-23    Tuesday  532500.0         0         0
4465 2021-03-24  Wednesday       NaN         0         0
4466 2021-03-25   Thursday       NaN         0         0
4467 2021-03-26     Friday       NaN         0         0
4468 2021-03-27   Saturday       NaN         0         0
4469 2021-03-28     Sunday       NaN         0         0

In [10]:
print('Weather:', weather.shape)
print('Woochuri Sales:', holidays_data.shape)
print('Beef & Pork:', beef_pork_df.shape)

# 휴무 가중치를 부여하기 위해 5일 늘린 날짜를 기준으로 left join
beef_pork_weather = beef_pork_df.merge(weather, how='inner', on='날짜')
dataset = holidays_data.merge(beef_pork_weather, how='left', on='날짜')
# 다시 우리가 원하는 데이터프레임 형태로 만들기 위해 마지막 5개의 rows들은 제외하고 재할당
dataset = dataset.iloc[:-5]

print("Final dataset:", dataset.shape)

Weather: (4465, 11)
Woochuri Sales: (4470, 5)
Beef & Pork: (4465, 4)
Final dataset: (4465, 18)

## 최종 데이터셋 생성

In [11]:
days = dataset.groupby('요일')['일매출'].mean().index
means = dataset.groupby('요일')['일매출'].mean().values
weekdays_means = dict(zip(days, means))
weekdays_means

def replace_zero_sales(df):
    if df['일매출'] == 0:
        df['일매출'] = weekdays_means[df['요일']]
    return df
final_dataset = dataset.apply(replace_zero_sales, axis=1)

total = dataset.groupby('요일')['일매출'].mean().values.sum()
weekdays = dataset.groupby('요일')['일매출'].mean().index
values = np.round(dataset.groupby('요일')['일매출'].mean().values / total * 100, 2)
weekdays_dict = dict(zip(weekdays, values))

dataset['요일'] = dataset['요일'].map(weekdays_dict)

In [12]:
# remove multicolinearity
multi_cols = ['최소상대습도', '최저기온', '평균기온', '1시간최다일사량']
final_dataset = dataset.drop(multi_cols, axis=1)
final_dataset = final_dataset.set_index('날짜')

In [13]:
final_dataset.shape

(4465, 13)

In [14]:
final_dataset.tail()

,요일,일매출,설_추석_가중치,일반공휴일가중치,한우가격,육우가격,돼지탕박가격,평균풍속,최대풍속,평균상대습도,일강수량,최고기온,일사량
날짜,,,,,,,,,,,,,
2021-03-19,15.23,512000.0,0,0,19708.0,9594.0,4182.0,3.6,6.6,55.9,0.0,18.8,16.28
2021-03-20,20.81,741000.0,0,0,19708.0,9594.0,4182.0,1.7,5.1,87.9,6.7,11.9,2.76
2021-03-21,15.92,650000.0,0,0,19708.0,9594.0,4182.0,2.5,5.9,67.3,0.0,10.5,11.43
2021-03-22,11.14,398400.0,0,0,16863.0,8089.0,4448.0,2.2,4.9,51.5,0.0,13.1,20.01
2021-03-23,11.97,532500.0,0,0,19905.0,12721.0,4607.0,2.2,4.8,63.1,0.0,17.2,20.86

## 예측 모델링

In [15]:
# Target 값 만들기
final_dataset['target'] = np.append(np.array(final_dataset['일매출'][1:]), 0)
final_dataset

,요일,일매출,설_추석_가중치,일반공휴일가중치,한우가격,육우가격,돼지탕박가격,평균풍속,최대풍속,평균상대습도,일강수량,최고기온,일사량,target
날짜,,,,,,,,,,,,,,
2009-01-01,12.65,0.0,0,1,14263.0,6760.0,3818.0,1.9,4.2,53.8,0.0,-0.2,11.11,666950.0
2009-01-02,15.23,666950.0,0,0,14937.0,7176.0,4312.0,1.2,3.2,59.5,0.0,4.3,11.63,854000.0
2009-01-03,20.81,854000.0,0,0,14682.0,2557.0,4276.0,1.0,3.2,56.3,0.0,5.6,11.04,706000.0
2009-01-04,15.92,706000.0,0,0,14682.0,2557.0,4276.0,0.9,3.1,55.5,0.0,5.4,8.39,451800.0
2009-01-05,11.14,451800.0,0,0,14008.0,7252.0,4115.0,1.4,4.2,67.1,0.0,3.6,6.50,329000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-19,15.23,512000.0,0,0,19708.0,9594.0,4182.0,3.6,6.6,55.9,0.0,18.8,16.28,741000.0
2021-03-20,20.81,741000.0,0,0,19708.0,9594.0,4182.0,1.7,5.1,87.9,6.7,11.9,2.76,650000.0
2021-03-21,15.92,650000.0,0,0,19708.0,9594.0,4182.0,2.5,5.9,67.3,0.0,10.5,11.43,398400.0
2021-03-22,11.14,398400.0,0,0,16863.0,8089.0,4448.0,2.2,4.9,51.5,0.0,13.1,20.01,532500.0
2021-03-23,11.97,532500.0,0,0,19905.0,12721.0,4607.0,2.2,4.8,63.1,0.0,17.2,20.86,0.0

In [16]:
X_train, y_train = final_dataset.iloc[:-1, :-1], final_dataset.iloc[:-1, -1]
X_test = final_dataset.iloc[-1, :-1]
X_test = pd.DataFrame(X_test.values.reshape(1, -1), columns=X_test.index) # Create one-row dataframe

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
# 부분 스케일링 적용
no_scale_cols = ['요일', '설_추석_가중치', '일반공휴일가중치']
scale_cols = ['일매출', '한우가격', '육우가격', '돼지탕박가격', '평균상대습도', '최고기온', '평균풍속', '최대풍속',
             '일사량', '일강수량']

# 스케일링 적용 여부로 데이터 분할
X_train_scale = X_train[scale_cols]
X_train_no_scale = X_train[no_scale_cols]
X_test_scale = X_test[scale_cols]
X_test_no_scale = X_test[no_scale_cols]

X_train_scale = pd.DataFrame(scaler.fit_transform(X_train_scale),
                            columns=X_train_scale.columns,
                            index=X_train_scale.index)
X_test_scale = pd.DataFrame(scaler.transform(X_test_scale),
                           columns=X_test_scale.columns,
                           index=X_test_scale.index)

# 분할한 데이터프레임 병합
X_train = pd.concat([X_train_scale, X_train_no_scale], axis=1)
X_test = pd.concat([X_test_scale, X_test_no_scale], axis=1)

In [18]:
X_test

,일매출,한우가격,육우가격,돼지탕박가격,평균상대습도,최고기온,평균풍속,최대풍속,일사량,일강수량,요일,설_추석_가중치,일반공휴일가중치
0,0.037754,0.772451,0.831003,0.457214,0.513228,0.538462,0.238095,0.277778,0.628633,0.0,11.97,0.0,0.0

In [20]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [21]:
int(y_pred[0])

371720

In [24]:
weekday_map = {'Sunday': '일요일', 'Monday': '월요일',
              'Tuesday': '화요일', 'Wednesday': '수요일',
              'Thursday': '목요일', 'Friday': '금요일',
              'Saturday': '토요일'}

day_name = pd.Timestamp.now().day_name()
now = pd.Timestamp.now().strftime("%Y-%m-%d")
res = f"## {now}일 {weekday_map[day_name]} 우추리축산 예측 매출은{int(y_pred[0]) / 1e4 : .2f}만원 입니다."
res

'## 2021-03-24일 수요일 우추리축산 예측 매출은 37.17만원 입니다.'

In [25]:
## twiliow를 통해 메세지 전송
from twilio.rest import Client

account_sid = 'AC8f9d9f4c8983ee648153f5347ee027a9'
auth_token = 'a2d30a2542a2eff5108764a057c87200'
client = Client(account_sid, auth_token)

woochuri_master= '+821094125854'

message = client.messages.create(from_='+13132543287',
                                body=res,
                                to=woochuri_master)